.container {

width: 1080px;
background: green;

}



section {

}


#video {

display: block;
margin-left: 220px;
margin-right: 220px; 
}


figcaption{

	text-align: center;
	font-size: 16px;
	font-weight: bold;
}



#santa {

	display: block;
	margin-left: 170px;
	margin-right: 170px;
}





figure {
	display: inline-block;
	margin: 0;
}

figcaption {
	margin: 0;

}











